/* debug */
.debug [class*='col-'] {
  background-color: rgb(150, 200, 200);
  height: 100px;
  border: 1px solid rgb(200, 150, 100);
}

.debug .h_90 {
  height: 90px;
}

.debug .h_li_100 {
  height: 80px;
  line-height: 80px;
}

.debug .h_300 {
  height: 300px;
}

.debug .h_400 {
  height: 400px;
}

.debug .h_500 {
  height: 500px;
}

.debug .h_650 {
  height: 650px;
}

.debug .h_750 {
  height: 750px;
}

.debug section {
  padding: 50px 0;
}

/* classi riutilizzabili */
.bg_green {
  background-color: #1ABC9C;
}

.bg_orange {
  background-color: rgb(237, 183, 127);
}

.bg_yellow {
  background-color: rgb(223, 226, 177);
}

.txt_wht {
  color: white;
}

.txt_gray {
  color: #5b6987;
}

.txt_blue {
  color: #031c4e;
}

.txt_bluelight {
  color: #006aff;
}

/* inizio header */
header {
  /* height: 100px; */
}

.nb_navbar {
  border-radius: 0;
  border: 0;
  background-color: white;
  height: 70px;
  line-height: 70px;
}

nav img {
  height: 30px;
  vertical-align: middle;
}

nav i {
  color: #0069ff;
  font-size: 18px;
  vertical-align: middle;
}

ul li {
  display: inline-block;
  color: #030F29;
  padding-right: 10px;
  font-size: 15px;
  line-height: 70px;
}

ul li i {
  color: #030F29;
  padding-right: 7px;
}

.i_prl {
  padding-right: 0;
  padding-left: 3px;
}

/* inizio jumbotron */
#jumbotron {
  background-image: url(../img/bg-home-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 70px 0 0;
}

.md_10 {
  margin-bottom: 10px;
}

#jumbotron .g_icon::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(../img/web/google.png);
  background-size: cover;
}

.h1p {
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}

/* innobiz */
#innobiz {
  background-color: #f3f5f9;
  /* temp height */
  height: 400px;
}

#innobiz img {
  height: 60px;
}

#deploy {
  background-color: #ffffff;
  /* temp height */
  height: 800px;
}

#deploy ul {}

#desdev {
  background-color: #f3f5f9;
  /* temp height */
  height: 500px;
}

#desdev img {
  width: 100%;
}

#features {
  background-color: white;
  /* temp height */
  height: 500px;
}

#customers {
  background-color: #0043c2;
  /* temp height */
  height: 500px;
}

#customers p {
  color: white;
}

#customers a p {
  color: #00d7d2;
}

#devteams {
  background-color: #f3f5f9;
  temp height: 700px;
}

#devteams img {
  width: 100%;
}

footer .footer-top {
  /* background-color: #3A546D; */
}

footer .footer-bottom {
  /* background-color: #2C3E50; */
}

/* Buttons*/
.btn_white_blue {
  color: #0069FF;
  border: 1px solid #0069FF;
  background: #fff;
}

.btn_white_blue:hover,
.btn_white_blue:active,
.btn_white_blue:focus {
  color: #fff;
  border: 1px solid #0069FF;
  background: #0069FF;
}

.btn_white_opacity {
  color: #0069FF;
  opacity: 1;
  transition: opacity 0.5s;
}

.btn_white_opacity:hover,
.btn_white_opacity:active,
.btn_white_opacity:focus {
  color: #0069FF;
  opacity: 0.8;
}

.btn_blue_opacity {
  color: #FFF;
  background: #0069FF;
  border: 0;
  opacity: 0.7;
  transition: opacity 0.5s;
}

.btn_blue_opacity:hover,
.btn_blue_opacity:active,
.btn_blue_opacity:focus {
  color: #FFF;
  background: #0069FF;
  border: 0;
  opacity: 1;
}

.btn_white_shadow {
  border: 0;
  box-shadow: 1px 1px 2px #CCC;
  opacity: 0.8;
  font-weight: bold;
  transition: background 0.5s;
}

.btn_white_shadow:hover,
.btn_white_shadow:active,
.btn_white_shadow:focus {
  border: 0;
  box-shadow: 1px 1px 2px #CCC;
  opacity: 0.8;
  font-weight: bold;
  background: #CCC;
}
