/* debug */
.debug [class*='col-'] {
  background-color: rgb(150, 200, 200);
  height: 100px;
  border: 1px solid rgb(200, 150, 100);
}

.debug .h_90 {
  height: 90px;
}

.debug .h_li_100 {
  height: 80px;
  line-height: 80px;
}

.debug .h_300 {
  height: 300px;
}

.debug .h_400 {
  height: 400px;
}

.debug .h_500 {
  height: 500px;
}

.debug .h_650 {
  height: 650px;
}

.debug .h_750 {
  height: 750px;
}

.debug section {
  padding: 50px 0;
}

/* classi riutilizzabili */
.bg_green {
  background-color: #1ABC9C;
}

.bg_orange {
  background-color: rgb(237, 183, 127);
}

.bg_yellow {
  background-color: rgb(223, 226, 177);
}

/* inizio header */
header {
  /* height: 100px; */
}

.navbar .nb_navbar {
  border-radius: 0;
  border: 0;
  background-color: white;
  height: 80px;
}

nav img {
  height: 25px;
  vertical-align: middle;
}

nav i {
  color: #0069ff;
  font-size: 18px;
}

/* inizio jumbotron */
footer .footer-top {
  /* background-color: #3A546D; */
}

footer .footer-bottom {
  /* background-color: #2C3E50; */
}
